!out/assets/**/*
.github
.gitignore
.vscode-test/**
.vscode/**
.yarnrc
.wdio-vscode-service
**/.eslintrc.json
**/*.map
**/*.ts
**/tsconfig.json
images/*.gif
images/*.jpg
node_modules/**
out/**/*
src/**
dist/test/**
scripts/**
vsc-extension-quickstart.md