!out/main*.js
.github
.gitignore
.vscode-test/**
.vscode/**
.yarnrc
.wdio-vscode-service
**/.eslintrc.json
**/*.map
**/*.ts
**/tsconfig.json
images/*.gif
images/*.jpg
node_modules/**
out/**/*
src/**
test-fixtures
vsc-extension-quickstart.md
webpack.config.js